@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat.eot');
  src: url('../fonts/Montserrat.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat.woff') format('woff'),
  url('../fonts/Montserrat.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }